.App {
  text-align: center;
  padding: 50px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  border: 1px solid;
  margin: 50px;
  text-align: left;
  padding: 20px;
}

.table-row {
  border-bottom: 1px solid;
  padding: 10px 0;
}

.input-box {
  width: 80%;
  margin-right: 20px;
  padding: 10px;
}

.button{
  padding: 10px;
  border-radius: 10px;
}
